<section>
<h1>友情链接</h1>
<ul>
	<li><a style="padding: 3px;" href="http://colalife.com/">colalife</a>
	
	<a style="padding: 3px;" href="http://codecloud.net/">codecloud</a></li>
	
	<li><a style="padding: 3px;" href="http://blog.jobbole.com/">伯乐在线</a>
	
	<a style="padding: 3px;" href="http://www.csdn.net/">CSDN</a></li>
	
	<li><a style="padding: 3px;" href="http://www.cnblogs.com/">博客园</a>
	
	<a style="padding: 3px;" href="http://coolshell.cn/">CoolShell</a></li>
	
	<li><a style="padding: 3px;" href="http://dongxicheng.org/">董的博客</a>
	
	<a style="padding: 3px;" href="http://bluedavy.me/">bluedavy</a></li>
	
	<li><a style="padding: 3px;" href="http://dbanotes.net/">Fenng</a>
	
	<a style="padding: 3px;" href="http://kenwublog.com/">Ken Wu's Blog</a></li>
	
	<li><a style="padding: 3px;" href="http://jinnianshilongnian.iteye.com/">开涛的博客</a>
	
	<a style="padding: 3px;" href="http://www.nowamagic.net/">简明现代魔法</a></li>
	
	<li><a style="padding: 3px;" href="http://www.crazyshell.org/blog/">狂Shell</a>
	
	<a style="padding: 3px;" href="http://www.coderli.com/">OneCoder</a></li>
	
	<li><a style="padding: 3px;" href=""></a>
	
	<a style="padding: 3px;" href=""></a></li>
	
</ul>
</section>