<section>
<h1>我的导航</h1>
<ul>
        <li>
        <a href="http://colalife.com/">colalife</a>
        </li>
        <li>
        <a href="http://codecloud.net/">codecloud</a>
        </li>
        <li>
        <a href="http://blog.jobbole.com/">伯乐在线</a>
        </li>
        <li>
        <a href="http://www.csdn.net/">CSDN</a>
        </li>
        <li>
        <a href="http://www.cnblogs.com/">博客园</a>
        </li>
        <li>
        <a href="http://coolshell.cn/">CoolShell</a>
        </li>
        <li>
        <a href="http://dongxicheng.org/">董的博客</a>
        </li>
        <li>
        <a href="http://blog.csdn.net/lifetragedy">lifetragedy</a>
        </li>
</ul>
</section>
