{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header id="myheader" role="banner" style="height:92px;background:url(http://bcs.duapp.com/colalife2000/images/h111.jpg)">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo" style="margin-bottom: 40px;">{% include footer.html %}</footer>
  {% include after_footer.html %}
  <script type="text/javascript" src="/javascripts/libs/totop.js"></script>
</body>
</html>
