<ul class="main-navigation">
  <li><a href="{{ root_url }}/">首页</a></li> 
  <li><a href="{{ root_url }}/blog/archives">文章列表</a></li> 
  <li><a href="{{ root_url }}/blog/categories/dai-ma/">代码</a></li>
  <li><a href="{{ root_url }}/blog/categories/du-shu/">读书</a></li> 
  <li><a href="{{ root_url }}/blog/categories/zhi-ye/">职业</a></li>
  <li><a href="{{ root_url }}/blog/categories/sheng-huo/">生活</a></li>
  <li><a href="{{ root_url }}/blog/categories/qi-ta/">其他</a></li>
  <li><a href="{{ root_url }}/tag-cloud/">标签</a></li>
</ul>
